.client-header {
  width: 100%;
  padding: 10px 0px;
}

.client-header::before {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 1px;
  background-color: var(--theme-color);
}

.client-header .logo {
  width: 200px;
}

.client-header .menu-icon {
  display: none;
}

.client-header .actions {
  top: 0px;
  bottom: 0px;
  right: 20px;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .client-header .menu-icon {
    display: block;
  }
}